<InputFile OnChange="@HandleFileSelected" Accept=".tar" Multiple="false"/>

<RunContainerButton ImageName="@_imageName"/>

<div id="upload">
    @if (_uploadResult.HasValue)
    {
        <div class="@(_uploadResult.Value ? "text-success" : "text-danger")">
            @(_uploadResult.Value ? "Success!" : "Error!")
        </div>
    }
</div>
@if (_messages.Any())
{
    <div class="border border-dark p-3 rounded">
        <textarea class="form-control bg-light border-0" rows="5">
        @foreach (var message in _messages)
        {
            @message
            @("\n")
        }
    </textarea>
    </div>
}